<style>
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|IBM+Plex+Mono|Limelight|Monoton|Rokkitt');
</style>

header {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #f0dcab;
}



body {
  /* color: #2c2c2c; */

  background-color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;

  /* font-family: 'David Libre', serif; */
  /* font-family: 'Pompiere', cursive; */
  /* font-family: 'Gafata', sans-serif; */
  /* font-family: 'IBM Plex Mono', monospace; */
  /* font-family: 'Limelight', cursive; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Monoton', cursive; */
}

h5 {
  margin: 0;
}

.navbar {
  background-color: #f0dcab;
}

.top-buffer { margin-top:40px; }

.site-title-block {
  padding: 20px 0;
  margin: 0;
}

.plant-svg {
  height:250px;
  width:250px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  font-size: 18px;
  .plant-svg {
    height:400px;
    width:400px;
  }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  .plant-svg {
    height:320px;
    width:320px;
  }
}

/* Large */
@media(min-width:1200px){
  .plant-svg {
    height:320px;
    width:320px;
  }
}

.section-1 {
  background-color: #f5dddd;
  height:100vh;
}

.section-2 {
  background-color: #f0dcab;
  height:120vh;
}

.section-3 {
  background-color: #f0f5d7;
  height:170vh;
}

.section-4 {
  background-color: #d1f1d1;
  height:170vh;
}

.section-5 {
  background-color: #cfe0f5;
  height:170vh;
}

.section-6 {
  background-color: #e4d2f5;
  height:170vh;
}

.section-7 {
  background-color: #f3eaaa;
  height:170vh;
}

footer {
  background-color: #454545;
  height:40vh;
}


.color-block {
  /* height:170vh; */
}

/******************************/
/*.animated {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
/******************************/
