header {
  /* font-family: 'Palanquin', sans-serif; */
}

body {
  background-color: #f5dddd;
  color: #2c2c2c;
  /* font-family: 'David Libre', serif; */
  /* font-family: 'Pompiere', cursive; */
  /* font-family: 'Gafata', sans-serif; */
  font-size: 18px;
}

.plant-svg {
  height:350px;
  width:350px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  .plant-svg {
    height:400px;
    width:400px;
  }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  .plant-svg {
    height:500px;
    width:500px;
  }
}

/* Large */
@media(min-width:1200px){
  .plant-svg {
    height:500px;
    width:500px;
  }
}

/******************************/
/*.animated {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
/******************************/

.color-block {
  height:170vh;
}

.section-1 {
  // background-color: $lightpink;
}

.section-2 {
  background-color: #f0dcab;

}

.section-3 {
  background-color: #f0f5d7;

}

.section-4 {
  background-color: #d1f1d1;

}

.section-5 {
  background-color: #cfe0f5;
}

.section-6 {
  background-color: #e4d2f5;
}

.section-7 {
  background-color: #f3eaaa;
}

footer {
  background-color: #454545;
  height:40vh;
}
