<style>
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|IBM+Plex+Mono|Limelight|Monoton|Rokkitt');
</style>

nav {
  font-family: 'IBM Plex Mono', monospace;
}

.navbar {
  height: 60px;
  background-color: #f0dcab;
}

.navbar-nav .nav-link {
  text-transform: inherit;
  font-size: 17px;
  color: inherit;
  font-weight: inherit;
  padding: 0;
}

.navbar-item {
  font-size: 17px;
}

body {
  /* color: #2c2c2c; */
  background-color: #f5dddd;;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  /* font-family: 'David Libre', serif; */
  /* font-family: 'Pompiere', cursive; */
  /* font-family: 'Gafata', sans-serif; */
  /* font-family: 'IBM Plex Mono', monospace; */
  /* font-family: 'Limelight', cursive; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Monoton', cursive; */
}

h5 { margin: 0; }

.row-buffer {
  margin-top:30px;
}
.top-row-buffer {
  padding-top: 30px;
}

.site-title-block {
  margin: 20px 0;
}

.color-block {
  height:120vh;
}

.wheelbarrow {
  height: 25px;
  width: 25px;
}

footer {
  background-color: #454545;
  height:40vh;
}

.section-1 { background-color: #f5dddd; }
.section-2 { background-color: #f0dcab; }
.section-3 { background-color: #f0f5d7; }
.section-4 { background-color: #d1f1d1; }
.section-5 { background-color: #cfe0f5; }
.section-6 { background-color: #e4d2f5; }
.section-7 { background-color: #f3eaaa; }

/* Small */
/* @media(min-width:768px) and (max-width:991px){
  font-size: 18px;
  .plant-svg {
    height:400px;
    width:400px;
  }
} */

/* Medium */
/* @media(min-width:992px) and (max-width:1199px){
  .plant-svg {
    height:320px;
    width:320px;
  }
} */

/* Large */
/* @media(min-width:1200px){
  .plant-svg {
    height:320px;
    width:320px;
  }
} */

/* .plant-svg {
  height:250px;
  width:250px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */


/******************************/
/*.animated {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
/******************************/
